body {
  font-family: "Satisfy";
  background-color: rgb(4, 4, 4);
  text-align: center;
  margin: 0;
}

div {
  text-align: center;
}

.TiTle_Up {
  font-size: 3rem;
  color: white;
  margin: 1rem;
  margin-top: 5rem;
}

.TiTle_Img {
  width: 30rem;
}

.TiTle_Down{
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: .5rem;
  margin-bottom: 3rem;
}

.ConTact {
  margin: 10rem;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .TiTle_Up {
    font-size: 2rem;
  }

  .TiTle_Down {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .TiTle_Img {
    width: 90%;
  }

  .ConTact{
    font-size: 1.2rem;
  }

}
