body {
  font-family: 'Satisfy';
  background-color: rgb(4, 4, 4);
}

h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
}

img {
  width: 30rem;
  @media screen and (min-width: 900px) {
    width: 100%
  }
}

h3 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

p {
  text-align: center;
}

a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
