<div class="user-details">
  <h1> Who am I </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Finance</h2>
      <!-- <i class="icon fa fa-bitcoin"></i>
      <i class="icon fa fa-chart-bar"></i>
      <i class="icon fa fa-calculator"></i> -->
      <p>FX | Derivatives <br> SBL | SWAP | CFD</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <!-- <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-cplusplus-plain-wordmark"></i> -->
      <p>Data Analysis | Web <br> Machine Learning | Quantum Computing</p>
    </div>
    <div class="tech">
      <h2>Activities</h2>
      <!-- <i class="icon fa fa-graduation-cap"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="icon fa fa-building"></i> -->
      <p>삼성증권 파트타이머 | 금융공학학회 FR | (주)모인 인턴 | 공인회계사회 서포터즈</p>
    </div>
    <div class="tech">
      <h2>Hobby</h2>
      <p>Coding 💻 | Reading Books📚 <br> Basketball 🏀 |Watching Youtube 👀</p>
    </div>
</div>