<div class="user-details">
  <h1> Who am I </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Finance</h2>
      <i class="icon fa fa-money-bill"></i>
      <i class="icon fa fa-coins"></i>
      <i class="icon fa fa-bitcoin"></i>
      <p>금융은 영어로 파이낸수 | 금융은 영어로 파이낸수 | 금융은 영어로 파이낸수 | 금융은 영어로 파이낸수</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-cplusplus-plain-wordmark"></i>
      <p>Python | HTML | CSS | JavaScript | TypeScript | C & C++ | Quantum Computing</p>
    </div>
    <div class="tech">
      <h2>Activities</h2>
      <i class="icon fa fa-school"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="icon fa fa-building-columns"></i>
      <p>성균관대학교 금융공학학회 FR | (주)모인 프론트앤드 개발팀 인턴 | 삼성증권 DeltaOne Solution팀 파트타이머</p>
    </div>
</div>