 <div class="user-details">
  <h1> Who am I </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Finance</h2>
      <i class="devicon-html5-plain-wordmar"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>어떤 내용을 넣어야 될 지 모르겠으니, 대충 이렇게 적어두면 양을 채울 수 있겠지..?</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>여기에는 내가 할 수 있는 언어를 간단하게 넣으면 되는데, 그림을 어떻게 넣는지 확인해봐야 돼.</p>
    </div>
    <div class="tech">
      <h2>Activivities</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>여기는 어떤 일을 했는지 적는게 어떨까? 대충 학회, 모인, 삼증 적으면 될거같습니다요오오.</p>
    </div>
</div>


<div class="user-details">
  <h1> Who am I </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Finance</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Activities</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>