<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="FX_Option" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> FX Option </h3>
    <ul>
      <li> QuantLib</li>
    </ul>
    <p>성균관대학교 금융공학학회 FR에서 시행한 프로젝트. Euro Fx Option을 Pricing하고 이를 이용해 Hedging하는 프로젝트를 진행. Black-Scholes Model과 Heston Model을 이용하여 Pricing. 델타헷징으로 감마와 세타 수익을 목표로 방향성 투자.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Interactive </h3>
    <ul>
      <li> JavaScript</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>