<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="fx_option" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> FX Option </h3>
    <ul>
      <li> Quantlib</li>
      <li> Excel</li>
    </ul>
    <p>금융공학학회 FR에서 시행한 프로젝트.</br>
      <!-- Euro Fx Option을 Pricing과 Hedging하는 프로젝트를 진행.</br>
      Pricing: Black-Scholes Model과 Heston Model을 이용.</br>
      Hedging: 델타헷징으로 감마, 세타 수익 목표. 방향성 투자.</br> -->
    <a class="project-link" href="https://github.com/jongjinna/FR_32/tree/main/Project/FR">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Interactive </h3>
    <ul>
      <li> JavaScript</li>
    </ul>
    <p>js 공부입니다요.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 3번 프로젝트는 </h3>
    <ul>
      <li> 뭐할까요? </li>
    </ul>
    <p>알아맞춰보시오오오.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
