<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
        <img alt="FX_Option" src="/assets/img/mountains.jpg"/>
        <img alt="FX_Option" src="/assets/img/skate.jpg"/>
        <img alt="FX_Option" src="/assets/img/fx_option.jpg"/>
      {% include footer.html %}
  </body>
